[Unit]
Description=DloadBox Telegram Bot
After=network.target

[Service]
ExecStart=/opt/dloadbox/bin/dloadbox-telegrambot

[Install]
WantedBy=multi-user.target