[Unit]
Description=Main service for dloadbox components
Requires=dloadbox-ariarpc.service dloadbox-caddy.service dloadbox-filebrowser.service dloadbox-telegrambot.service
BindsTo=dloadbox-ariarpc.service dloadbox-caddy.service dloadbox-filebrowser.service dloadbox-telegrambot.service
Before=dloadbox-ariarpc.service dloadbox-caddy.service dloadbox-filebrowser.service dloadbox-telegrambot.service

[Service]
Type=notify
RemainAfterExit=true
ExecStartPre=/opt/dloadbox/bin/dloadbox-configurator.sh
ExecStart=/bin/true
ExecStop=/bin/true

[Install]
WantedBy=multi-user.target
